body{
    background-color: rgba(227, 255, 255, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 14px;
    float: right;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.overcome{
    width: 200px;
    height: auto;
    float: left;
}

header{
    width: 100%;
    display: table;
    border-bottom: solid 1px;

}
footer{
    margin-top: 50%;
}
h1{
    text-align: center;
    font-size: 60px;
}
h2{
    font-size: 35px;
    margin-top: 200px;
    text-align: center;
}
img{
    border-radius: 3%;
}
p{
    margin: 20px;
}
div{
    margin: 5px;
}
.none{
    list-style: none;
}
.alto{
    height: 340px;
}
.consulta{
    margin: 20px;
    list-style: none;
    border-radius: 3px;
    width: 300px;
    background-color:antiquewhite ;
}
.menu{
    width: 100%;    
}
.center{

    align-items: center;
    text-align: center;
    margin: 25px;
}
.footer{
    list-style: none;
    margin-left: 20px;
    padding: 14px;
}
.colorfooter{
   background-color: antiquewhite;
}
.index{
    text-align: left;
    float: left;
    margin-right: 50px;
}
.image{
    margin: 25px;
}
.nosotrosimage{
    background-color: antiquewhite;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 110px;
    border-radius: 10px;
}
.nosotrosimagenes{
    margin: 30px;
}
.nosotrostext{
    font-size: 15px;
    margin: 30px;
    margin-left: 170px;
    margin-right: 170px;
    background-image: url(./images/nosotros.jpg);
    background-size: 1500px;
    border-radius: 10px;
}
.columnas{
    display: table-cell;
    text-align: center;
}
.ancho{
    margin-left: 220px;
    margin-right: 220px;
}
.imagenayuda{
    align-items: center;
}
.ayudanumero{
    font-size: 90px;
    background-color: antiquewhite;
    margin-left: 370px;
    margin-right: 370px;
    border-radius: 10px;
}
#login{
    width: 400px;
    height: 500px;
    background-image: url(./images/soporte.jpg);
    background-size: 400px 500px;
    margin: auto;
    margin-top: 251px;
    border-radius: 5px;
}
#imageizquierda{
    float: left;
}
#imagederecha{
    float: right;
}
